.screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Sidebar takes 20% of the width, adjust min/max as needed */
.sidebar {
  width: 20%;
  min-width: 15%;
  max-width: 25%;
  background-color: #1f1f1f; /* light gray */
  height: 100%;
  z-index: 1;
  user-select: none;

}

/* Main area takes the remaining width */
.main-area {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: auto;
  background-color: #f0f0f0;
}
.blockly-workspace {
  height: 600px;
  width: 100%;
}
